/.vscode
/all-list.jpg
/Bootstrap
/cricket1.jpg
/cricket10.jpg
/cricket2.jpeg
/cricket3.jpg
/cricket4.jpg
/cricket5.jpg
/cricket6.jpg
/cricket7.avif
/cricket8.jpg
/cricket9.jpg
/cutm.jpg
/download.jpeg
/download1.jpeg
/download3.webp
/hello.html
/lists.png
/order.jpg
/registrationform.html
/unorder.webp